{
    
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "usage",
            "corejs": "3",
            "targets": {
                "browsers": [
                    "last 3 versions"
                ]
            }
        }]
    ],
    
    "plugins": [
        ["@babel/plugin-transform-react-jsx", { "pragma": "window.jsx", "pragmaFrag": "'fragment'" }]
    ],
    "comments": false   
}