@use 'sass:list';
@import 'functions';

@mixin button {
    padding: .5rem .75rem;
    min-width: 2rem;
    width: fit-content;
    color: white;
    border-radius: .25rem;
    margin: .25rem;
    cursor: pointer;
    font-size: 1rem;
}

@mixin button-type($key) {
    $color: getBtnColor($key);
    background-color: $color; 
}

@mixin button-hover($key) {
    color: white;
    $color: getBtnColor($key);
    background-color: darken($color,5);
    text-decoration: none; 
}

@mixin button-focus($key) {
    $color: getBtnColor($key);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($color,.25);
}

@mixin button-outline($key) {
    $color: getBtnColor($key);
    border: 1px solid $color!important;
    background-color: transparent;
    color: $color;
    transition: .2s;
}

@mixin button-outline-hover($key) {
    $color: getBtnColor($key);
    background-color: $color;
    color: white;
}