@use 'sass:map';
@import '../../variables';
@import 'mixins';

.card{
    @include card;
    
    &-header{
        @include card-header;
    }

    &-body{
        @include card-body;
    }

    &-footer{
        @include card-footer;
    }

    @each $dir in "left","right","top","bottom" {
     
        &.card-image-#{$dir}{
            padding: 0;
            display: getDisplay($dir);
            @if ($dir=='bottom') {
                flex-direction: column-reverse;
            }
            & .card-image{

                @if (isFlex($dir)==1) {
                    flex: 0 0 50%;
                }
                order: getOrder($dir);
                @include b-radius($dir,"image");
                & img{
                    width: 100%;
                }
            }
    
            & .card-col{
                padding: 1rem 1.5rem;
                @if (isFlex($dir)==1) {
                    flex: 0 0 50%;
                }
                position: relative;
            }
            & .card-header{
                @include b-radius($dir,"header");
            }
        }
    }
    
}
