@use 'sass:list';
@import "variables";

@each $var in $breakpoints {
    //container-tag
    $index: list.index($breakpoints, $var);
    $tag: list.nth($col-tag, $index);
    $width: $var;
    @if $width == 0 {
        $width: 100%;
    }
    .container#{$tag} {
        width: $width;
        display: block;
        margin: 0 auto;
        padding: 0 15px;
    }

    // container tag - media
    @media (min-width: $var) {
        .container {
            width: $width;
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding: 0 15px;
}

@for $i from 1 to $columns + 1 {
    .col-#{$i}{
        flex: 0 0 100% * ($i/$columns);
        padding: 0 15px;
    }
}

.order-first{
    order:-1;
}
.order-last{
    order:13;
}

@for $i from 0 to $columns + 1 {
    .order-#{$i}{
        order:$i;
    }
}


@media (min-width: $breakpoint-sm) {
    @for $i from 1 to $columns + 1 {
        .col-sm-#{$i} {
            flex: 0 0 100% * ($i/$columns);
        }
    }
    .order-sm-first{
        order:-1;
    }
    .order-sm-last{
        order:13;
    }
    @for $i from 0 to $columns + 1 {
        .order-sm-#{$i} {
            order:$i;
        }
    }
}

@media (min-width: $breakpoint-md) {
    @for $i from 1 to $columns + 1 {
        .col-md-#{$i} {
            flex: 0 0 100% * ($i/$columns);
        }
    }
    .order-md-first{
        order:-1;
    }
    .order-md-last{
        order:13;
    }
    @for $i from 0 to $columns + 1 {
        .order-md-#{$i} {
            order:$i;
        }
    }
}

@media (min-width: $breakpoint-lg) {
    @for $i from 1 to $columns + 1 {
        .col-lg-#{$i} {
            flex: 0 0 100% * ($i/$columns);
        }
    }
    .order-lg-first{
        order:-1;
    }
    .order-lg-last{
        order:13;
    }
    @for $i from 0 to $columns + 1 {
        .order-lg-#{$i} {
            order:$i;
        }
    }
}

@media (min-width: $breakpoint-xl) {
    @for $i from 1 to $columns + 1 {
        .col-xl-#{$i} {
            flex: 0 0 100% * ($i/$columns);
        }
    }
    .order-xl-first{
        order:-1;
    }
    .order-xl-last{
        order:13;
    }
    @for $i from 0 to $columns + 1 {
        .order-xl-#{$i} {
            order:$i;
        }
    }
}

