@use 'sass:list';
@import "variables";

@each $i in $helper-nums {
    $index: list.index($helper-nums, $i);
    $dim: list.nth($helper-dims, $index);
    .m-#{$i} {
        margin: $dim;
    }
    .ml-#{$i},
    .mx-#{$i} {
        margin-left: $dim;
    }
    .mt-#{$i},
    .my-#{$i} {
        margin-top: $dim;
    }
    .mr-#{$i},
    .mx-#{$i} {
        margin-right: $dim;
    }
    .mb-#{$i},
    .my-#{$i} {
        margin-bottom: $dim;
    }
}

@each $i in $helper-nums {
    $index: list.index($helper-nums, $i);
    $dim: list.nth($helper-dims, $index);
    .p-#{$i} {
        padding: $dim;
    }
    .pl-#{$i},
    .px-#{$i} {
        padding-left: $dim;
    }
    .pt-#{$i},
    .py-#{$i} {
        padding-top: $dim;
    }
    .pr-#{$i},
    .px-#{$i} {
        padding-right: $dim;
    }
    .pb-#{$i},
    .py-#{$i} {
        padding-bottom: $dim;
    }
}

@each $i in $display-keys {
    .d-#{$i} {
        display: $i !important;
    }
}

// small

@media (min-width: $breakpoint-sm) {
    @each $i in $helper-nums {
        $index: list.index($helper-nums, $i);
        $dim: list.nth($helper-dims, $index);
        .m-sm-#{$i} {
            margin: $dim;
        }
        .ml-sm-#{$i},
        .mx-sm-#{$i} {
            margin-left: $dim;
        }
        .mt-sm-#{$i},
        .my-sm-#{$i} {
            margin-top: $dim;
        }
        .mr-sm-#{$i},
        .mx-sm-#{$i} {
            margin-right: $dim;
        }
        .mb-sm-#{$i},
        .my-sm-#{$i} {
            margin-bottom: $dim;
        }
    }

    @each $i in $helper-nums {
        $index: list.index($helper-nums, $i);
        $dim: list.nth($helper-dims, $index);
        .p-sm-#{$i} {
            padding: $dim;
        }
        .pl-sm-#{$i},
        .px-sm-#{$i} {
            padding-left: $dim;
        }
        .pt-sm-#{$i},
        .py-sm-#{$i} {
            padding-top: $dim;
        }
        .pr-sm-#{$i},
        .px-sm-#{$i} {
            padding-right: $dim;
        }
        .pb-sm-#{$i},
        .py-sm-#{$i} {
            padding-bottom: $dim;
        }
    }

    @each $i in $display-keys {
        .d-sm-#{$i} {
            display: $i !important;
        }
    }
}

// medium
@media (min-width: $breakpoint-md) {
    @each $i in $helper-nums {
        $index: list.index($helper-nums, $i);
        $dim: list.nth($helper-dims, $index);
        .m-md-#{$i} {
            margin: $dim;
        }
        .ml-md-#{$i},
        .mx-md-#{$i} {
            margin-left: $dim;
        }
        .mt-md-#{$i},
        .my-md-#{$i} {
            margin-top: $dim;
        }
        .mr-md-#{$i},
        .mx-md-#{$i} {
            margin-right: $dim;
        }
        .mb-md-#{$i},
        .my-md-#{$i} {
            margin-bottom: $dim;
        }
    }

    @each $i in $helper-nums {
        $index: list.index($helper-nums, $i);
        $dim: list.nth($helper-dims, $index);
        .p-md-#{$i} {
            padding: $dim;
        }
        .pl-md-#{$i},
        .px-md-#{$i} {
            padding-left: $dim;
        }
        .pt-md-#{$i},
        .py-md-#{$i} {
            padding-top: $dim;
        }
        .pr-md-#{$i},
        .px-md-#{$i} {
            padding-right: $dim;
        }
        .pb-md-#{$i},
        .py-md-#{$i} {
            padding-bottom: $dim;
        }
    }

    @each $i in $display-keys {
        .d-md-#{$i} {
            display: $i !important;
        }
    }
}

// large

@media (min-width: $breakpoint-lg) {
    @each $i in $helper-nums {
        $index: list.index($helper-nums, $i);
        $dim: list.nth($helper-dims, $index);
        .m-lg-#{$i} {
            margin: $dim;
        }
        .ml-lg-#{$i},
        .mx-lg-#{$i} {
            margin-left: $dim;
        }
        .mt-lg-#{$i},
        .my-lg-#{$i} {
            margin-top: $dim;
        }
        .mr-lg-#{$i},
        .mx-lg-#{$i} {
            margin-right: $dim;
        }
        .mb-lg-#{$i},
        .my-lg-#{$i} {
            margin-bottom: $dim;
        }
    }

    @each $i in $helper-nums {
        $index: list.index($helper-nums, $i);
        $dim: list.nth($helper-dims, $index);
        .p-lg-#{$i} {
            padding: $dim;
        }
        .pl-lg-#{$i},
        .px-lg-#{$i} {
            padding-left: $dim;
        }
        .pt-lg-#{$i},
        .py-lg-#{$i} {
            padding-top: $dim;
        }
        .pr-lg-#{$i},
        .px-lg-#{$i} {
            padding-right: $dim;
        }
        .pb-lg-#{$i},
        .py-lg-#{$i} {
            padding-bottom: $dim;
        }
    }

    @each $i in $display-keys {
        .d-lg-#{$i} {
            display: $i !important;
        }
    }
}

// x-large

@media (min-width: $breakpoint-xl) {
    @each $i in $helper-nums {
        $index: list.index($helper-nums, $i);
        $dim: list.nth($helper-dims, $index);
        .m-xl-#{$i} {
            margin: $dim;
        }
        .ml-xl-#{$i},
        .mx-xl-#{$i} {
            margin-left: $dim;
        }
        .mt-xl-#{$i},
        .my-xl-#{$i} {
            margin-top: $dim;
        }
        .mr-xl-#{$i},
        .mx-xl-#{$i} {
            margin-right: $dim;
        }
        .mb-xl-#{$i},
        .my-xl-#{$i} {
            margin-bottom: $dim;
        }
    }

    @each $i in $helper-nums {
        $index: list.index($helper-nums, $i);
        $dim: list.nth($helper-dims, $index);
        .p-xl-#{$i} {
            padding: $dim;
        }
        .pl-xl-#{$i},
        .px-xl-#{$i} {
            padding-left: $dim;
        }
        .pt-xl-#{$i},
        .py-xl-#{$i} {
            padding-top: $dim;
        }
        .pr-xl-#{$i},
        .px-xl-#{$i} {
            padding-right: $dim;
        }
        .pb-xl-#{$i},
        .py-xl-#{$i} {
            padding-bottom: $dim;
        }
    }

    @each $i in $display-keys {
        .d-xl-#{$i} {
            display: $i !important;
        }
    }
}
