$columns:12;

$col-tag:'','-sm','-md','-lg','-xl';


// breakpoints
$breakpoint-xs:0;
$breakpoint-sm:576px;
$breakpoint-md:768px;
$breakpoint-lg:992px;
$breakpoint-xl:1200px;

$breakpoints:0,576px,768px,992px,1200px;


// helper
// margin - padding
$helper-nums:0,1,2,3,4,5,6,7,8,9,10,auto;
$helper-dims:0,.25rem,.5rem,1rem,1.5rem,3rem,5rem,6rem,7.5rem,10rem,15rem,auto;

// display
$display-keys:block,flex,inline,none;

//color
$theme-colors: (
    "blue":#007bff,
    "indigo": #6610f2,
    "purple": #6f42c1,
    "pink": #e83e8c,
    "red": #dc3545,
    "orange": #fd7e14,
    "yellow": #ffc107,
    "green": #28a745,
    "teal": #20c997,
    "cyan": #17a2b8,
    "white": #fff,
    "gray": #6c757d,
    "primary": #007bff,
    "secondary": #6c757d,
    "success": #28a745,
    "info": #17a2b8,
    "warning": #ffc107,
    "danger": #dc3545,
    "light": #f8f9fa,
    "dark": #343a40,
);

$color-keys:'blue','indigo','purple','pink','red','orange','yellow','green','teal','cyan','white','gray';
$special-color-keys:'primary','secondary','success','info','warning','danger','light','dark';
$all-colors:'blue','indigo','purple','pink','red','orange','yellow','green','teal','cyan','white','gray','primary','secondary','success','info','warning','danger','light','dark';